<link rel="stylesheet" href="https://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="style.css">
<title>ChatApp</title>
<body ng-app="chatApp" ng-controller="homeController as vm" ng-cloak>

<div class="row" style="margin: 0px;height: 100vh;">

    <div class="col-md-3" ng-show="!vm.loginSuccess" style="height:inherit;">
        <h3>Sign UP</h3>
        <form class="form-control" ng-submit="doRegister()" ng-model="vm.register">
            <input type="text" ng-model="vm.register.un" class="form-control" placeholder="Username" required>
            <input type="password" ng-model="vm.register.pw" class="form-control" placeholder="Password" required>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
        <h3>Sign IN</h3>
        <form class="form-control" ng-submit="doLogin()" ng-model="vm.login">
            <input type="text" ng-model="vm.login.un" class="form-control" placeholder="Username" required>
            <input type="password" ng-model="vm.login.pw" class="form-control" placeholder="Password" required>
            <button type="submit" class="btn btn-success">Login</button>
        </form>

    </div>
    <div class="col-md-9" ng-show="!vm.loginSuccess">
        <h1>Welcome to Chat App</h1>
    </div>
    <div class="col-md-3" ng-show="vm.loginSuccess" style="height:inherit;background: #353535;">
        <form class="form-control" style="margin-top:10px;">
            <input type="text" class="form-control" placeholder="Search Conversation"/>
        </form>
        <div class="form-control">
            <div class="list-group">
                <a class="list-group-item list-group-item-action flex-column align-items-start" ng-repeat="users in vm.activeUsersList">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{users.fullName}}</h5>
                        <!--<small>3 days ago</small>-->
                    </div>
                    <!--<p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus-->
                        <!--varius blandit.</p>-->
                    <!--<small>Donec id elit non mi porta.</small>-->
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-9" ng-show="vm.loginSuccess">
        <div class="row" style="background: #bbbbbb;height:8vh;padding: 10px;">
            <div class="col-md-1">
                <i class="fa fa-user fa-2x"></i>
            </div>
            <div class="col-md-10">
                User name
            </div>
            <div class="col-md-1">
                <i ng-click="logout()" class="fa fa-gears fa-2x"></i>
            </div>
        </div>
        <div style="height:80vh;">
            <ul style="list-style: none;padding: 0px;">
                <li ng-repeat="chatObj in vm.chatHistory"
                    style="width:100%;display: flex;"
                    ng-class="chatObj.client ? 'clientAlign' : ''">
                    <div ng-class="chatObj.client ? 'client' : 'server'">
                        {{chatObj.message}}
                    </div>
                </li>
            </ul>
        </div>
        <form ng-submit="vm.sendMessage(vm.messageText)">
            <div class="row" style="margin:0px;margin-top: 10px;">
                <div class="col-md-10">
                    <textarea ng-model="vm.messageText" class="form-control" placeholder="Enter Message"></textarea>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script src="chatApp.js"></script>
<script src="loginService.js"></script>
<script src="chatServices.js"></script>
